@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Kaisei Tokumin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #020202;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: disc;
  padding-left: 1rem;
}

/* スクロールバー削除*/
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.scroll-bar::-webkit-scrollbar {
  background: white;
  width: 2px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: black;
  width: 2px;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

.scroll-none {
  scrollbar-width: none;
}

@font-face {
  font-family: "Reggae";
  src: url("/public/ReggaeOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
